@{
    ViewBag.Title = "About";
}
<h2>Aplicaciones Empresariales</h2>
<h3>Sistema de control de inventario</h3>

<p>Este sistema está hecho para utilizar en bodegas donde sea neceasario una adminstración de las entradas y salidas
de los productos que se ofrecen</p>
