@{
    ViewBag.Title = "Contact";
}
<h2>Sistemas Empresariales</h2>
<h3>Contactos</h3>

<address>
    Allende #3<br />
    Oaxaca, Oax 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    953.124.12.12
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:poohacevedo@gmail.com">poohacevedo@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:lz0987@gmail.com">lz0987@gmail.com</a>
</address>