@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Bienvenidos</h1>
    <div class="text-center">
        <div class="div-center">
            <center>
                <img class="principal text-center" src="\carro-de-supermercado.jpg" />
            </center>
        </div>
    </div>
    
</div>